// Color Palette
// examples based on the official Sass styleguide
// descriptive colors
// =============
//black&greys
$black: #000;
$charcoal: #333;
$dim-grey: #696969;
$dark-grey: #808080;
$grey: #a9a9a9;
$silver: #c0c0c0;
$light-grey: #d3d3d3;
$gainsboro: #dcdcdc;
$dark-slate-grey: #2f4f4f;
$slate-grey: #708090;
$light-slate-grey: #789;
$regent-grey: #808c99;
$pale-sky: #6b717f;
//whites
$white-smoke: #f5f5f5;
$ghost-white: #f8f8ff;
$snow: #fffafa;
$white: #fff;
$azure: #f0ffff;
$ivory: #fffff0;
$beige: #f5f5dc;
$antique-white: #faebd7;
$misty-rose: #ffe4e1;
$wafer: #e1d7d2;
$iron: #dadbdf;
$nebula: #d2e1dd;
$honey-dew: #f0fff0;
$mint-cream: #f5fffa;
$alice-blue: #f0f8ff;
$sea-shell: #fff5ee;
$old-lace: #fdf5e6;
$floral-white: #fffaf0;
$linen: #faf0e6;
$lavender-blush: #fff0f5;
//purples, violets, magentas
$lavender: #e6e6fa;
$thistle: #d8bfd8;
$plum: #dda0dd;
$violet: #ee82ee;
$orchid: #da70d6;
$magenta: #f0f;
$medium-orchid: #ba55d3;
$medium-purple: #9370db;
$blue-violet: #8a2be2;
$dark-violet: #9400d3;
$dark-orchid: #9932cc;
$dark-magenta: #8b008b;
$purple: #800080;
$indigo: #4b0082;
$dark-slate-blue: #483d8b;
$slate-blue: #6a5acd;
$medium-slate-blue: #7b68ee;
//blues
$light-steel-blue: #b0c4de;
$powder-blue: #b0e0e6;
$light-blue: #add8e6;
$sky-blue: #87ceeb;
$light-sky-blue: #87cefa;
$deep-sky-blue: #00bfff;
$dodger-blue: #1e90ff;
$cornflower-blue: #6495ed;
$steel-blue: #4682b4;
$royal-blue: #4169e1;
$blue: #00f;
$medium-blue: #0000cd;
$dark-blue: #00008b;
$navy: #000080;
$midnight-blue: #036;
//cyans
$cyan: #0ff;
$light-cyan: #e0ffff;
$pale-turquoise: #afeeee;
$aquamarine: #7fffd4;
$turquoise: #40e0d0;
$medium-turquoise: #48d1cc;
$dark-turquoise: #00ced1;
$light-sea-green: #20b2aa;
$cadet-blue: #5f9ea0;
$dark-cyan: #008b8b;
$teal: #008080;
//greens
$dark-olive-green: #556b2f;
$olive: #808000;
$olive-drab: #6b8e23;
$yellow-green: #9acd32;
$lime-green: #32cd32;
$lime: #0f0;
$lawn-green: #7cfc00;
$chartreuse: #7fff00;
$green-yellow: #adff2f;
$spring-green: #00ff7f;
$medium-spring-green: #00fa9a;
$light-green: #90ee90;
$pale-green: #98fb98;
$dark-sea-green: #8fbc8f;
$medium-aquamarine: #66cdaa;
$medium-sea-green: #3cb371;
$sea-green: #2e8b57;
$forest-green: #228b22;
$green: #008000;
$dark-green: #006400;
//browns
$corn-silk: #fff8dc;
$blanched-almond: #ffebcd;
$bisque: #ffe4c4;
$navajo-white: #ffdead;
$wheat: #f5deb3;
$burly-wood: #deb887;
$tan: #d2b48c;
$rosy-brown: #bc8f8f;
$sandy-brown: #f4a460;
$golden-rod: #daa520;
$dark-golden-rod: #b8860b;
$peru: #cd853f;
$chocolate: #d2691e;
$saddle-brown: #8b4513;
$sienna: #a0522d;
$brown: #a52a2a;
$maroon: #800000;
//yellows
$yellow: #ff0;
$light-yellow: #ffffe0;
$lemon-chiffon: #fffacd;
$light-goldenrod-yellow: #fafad2;
$papaya-whip: #ffefd5;
$moccasin: #ffe4b5;
$peach-puff: #ffdab9;
$pale-goldenrod: #eee8aa;
$khaki: #f0e68c;
$dark-khaki: #bdb76b;
$gold: #ffd700;
//oranges
$orange-red: #ff4500;
$tomato: #ff6347;
$coral: #ff7f50;
$dark-orange: #ff8c00;
$orange: #ffa500;
//reds
$light-salmon: #ffa07a;
$salmon: #fa8072;
$dark-salmon: #e9967a;
$light-coral: #f08080;
$indian-red: #cd5c5c;
$crimson: #dc143c;
$fire-brick: #b22222;
$dark-red: #8b0000;
$red: #f00;
//pinks
$pink: #ffc0cb;
$light-pink: #ffb6c1;
$hot-pink: #ff69b4;
$deep-pink: #ff1493;
$pale-violet-red: #db7093;
$medium-violet-red: #c71585;
